header{
    background-color: royalblue;
    padding: 20px;
}

.cart-icon{
    position: relative;
}

.cart-icon{
    font-size: 24px;
    color: white;
    
}



.cart-value{
    position: absolute;
    top: -15px;
    right: -42px;
    background: black;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 4px 10px;
    font-weight: 800;
    font-size: 16px;
}